/* .passGen {
  display: flex;
  text-align: center;
} */

.passwordBox {
  padding: 0.5rem;
  margin: 3rem auto;
  width: 40rem;
  background-color: dodgerblue;
  border-radius: 1rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.passwordBox h2 {
  color: whitesmoke;
  padding: 1rem;
}

.passwordScreen {
  display: flex;
  margin: 2rem;
  gap: 1rem;
  border: none;

}

.passwordScreen input {
  flex-basis: 80%;
  height: 60px;
  padding-left: 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  border: none;

}

.passwordScreen button {
  font-weight: 600;
  flex-basis: 20%;
  border-radius: 0.5rem;
  color: dodgerblue;
  background-color: white;
  border: none;
}

.passlength {

  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 1.3rem;
  padding: 2rem;
  height: 2rem;


}

.passlength label {
  flex-basis: 60%;
}

.passlength input {
  flex-basis: 5.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.1 rem;
  text-align: center;
}

.bttn-pw {
  color: dodgerblue;
  background-color: white;
  /* width: 39.5vw; */
  width: 94%;
  font-size: 20px;
  font-weight: 500;
  border-radius: 0.5rem;
  padding: 20px;
  margin: 40px 20px;
  border: none;
}